requests==2.31.0
beautifulsoup4==4.12.3
pandas==2.1.4
python-dotenv==1.0.1
tabula-py==2.9.0
pdfplumber==0.11.0
camelot-py==0.11.0
PyPDF2==3.0.1
sqlalchemy==2.0.25
psycopg2-binary==2.9.9
mysql-connector-python==8.2.0
psycopg2-binary==2.9.9
flask==3.0.2
flask-cors==4.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
chardet==5.2.0
charset-normalizer==3.3.2
urllib3==2.1.0
wget==3.2
tqdm==4.66.2
JPype1==1.5.0